<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>用户列表</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
<script type="text/javascript" src="@{/js/jquery-1.12.4.min.js}"></script>
</head>
<body class="container">
	<br />
	<h1>用户列表</h1>
	
	<br />
	<br />
	<div class="with:100%">
		<form th:action="@{/list}" method="get">
			<p class="col-sm-4">
				输入用户名: <input type="text" name="uString"/>&nbsp;&nbsp;&nbsp;
				<input type="submit" value="查找" class="btn btn-primary btn-xs"/>
			</p>
		</form>
		<form class="col-sm-4">
        	<a th:href="@{/toAdd}" class="btn btn-info btn-xs" >新增</a>
        </form>
		<form th:action="@{/logout}" method="get" class="col-sm-4">
            <input type="submit" value="注销" class="btn btn-danger btn-xs"/>
        </form>
		<br/>
		<br/>
		<br/>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>User Name</th>
					<th>Password</th>
					<th>Age</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<th scope="row" th:text="${user.id}">1</th>
					<td th:text="${user.userName}">1</td>
					<td th:text="${user.password}">1</td>
					<td th:text="${user.age}">6</td>
					<td><a th:href="@{/toEdit(id=${user.id})}" class="btn btn-primary btn-xs">编辑</a></td>
					<td><a th:href="@{/delete(id=${user.id})}" class="btn btn-danger btn-xs" onclick="return confirm('确定将此记录删除?')">删除</a></td>
				</tr>
			</tbody>
		</table>
		<nav>
			<ul class="pagination">
				<li>
					<a th:href="@{/list?page=0}">首页</a>
					<a th:href="@{'/list?page='+*{page-1}}" th:if="${isFirst}">上一页</a>
					<a th:href="@{'/list?page='+*{page+1}}" th:if="${page ne pages}">下一页</a>
					<a th:href="@{'/list?page='+*{pages}}">尾页</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>